*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: 'Arima', cursive;
font-family: 'Fira Sans', sans-serif;
}

.top-banner{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    
}